@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#nav{
  padding: 2%;
  padding-right: 5%;
  font-size: 1.5rem;
  display: flex;
  
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-family: 'Josefin Sans', cursive;
}
.main{
  height: 100vh;
  background: radial-gradient(204.08% 126.08% at 3.71% 10.34%, #6E1399 0%, #290C37 21.51%, #000 58.42%, #6E1399 100%);
}
#home-content{
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;
  align-items: center;
}
#hi{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }
  #name{
  color: #FFC635;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
    }